*.glob
*.v.d
*.vo
*.vos
*.vok
*.vio
*.v.timing
*.aux
*.log
*.nav
*.out
*.snm
*.fdb_latexmk
*.toc
*.synctex.gz
*.vrb
*.fls
_minted*
.depend
depend.d
depend.dot
.coqdeps.d
.coq-native
Makefile.coq
Makefile.coq.conf
.CoqMakefile.d
.Makefile.coq.d
.Makefile.d
.lia.cache
*.cmi
*.cmo
*.cmx
*.o
TAGS
CoqMakefile.conf
_CoqProject
blueprint/print/
blueprint/web/
blueprint/src/web.paux
blueprint/src/web.bbl
blueprint/rocq_decls
